<!DOCTYPE html>
<html>
<head>
	<title>myapp</title>
</head>
<body>
<h1>Hello ,<%=@name %> </h1>
<h1>Time : <%= formatted_time(@time) %></h1>
<h2><%= @times_displayed%></h2>
<p><%= link_to "google", "http://www.google.com" %></p>
<p><%= link_to "Bye", "hello_goodbye_path" %></p>
</body>
</html>